---
import { Image } from 'astro:assets';
import SecTitle from '/src/components/parts/SecTitle.astro';
// 代わりに新しくファイルを作成
// import Contents from '../../data/contentsList';
import Contents from '/src/data/ranking.js';
---

<section id="ranking">
  <SecTitle title="展示物ランキング" />
  <ul class="ranking-items">
    {
      Contents.content
        // rankingがある要素だけを抽出
        .filter((content) => content.ranking)
        // ranking順にソート
        .sort((a, b) => a.ranking - b.ranking)
        .map((content) => (
          <li>
            <Image
              src={content.image}
              alt={content.alt}
              width="720"
              height="480"
            />
            <div class="text">
              <p>{content.ranking}.</p>
              <h3>
                <span>展示名</span>
                <span>{content.title}</span>
              </h3>
              <p>
                <span>展示内容</span>
                <span>{content.description}</span>
              </p>
            </div>
          </li>
        ))
    }
  </ul>
</section>

<style>
  .ranking-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
  }
  .ranking-items li {
    display: grid;
    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
    }

    .text {
      display: grid;
      gap: var(--inner-gap);
      padding: 0.875rem 0.5rem;
      height: fit-content;

      h3,
      p {
        display: grid;
        grid-template-columns: 80px 1fr;
      }
      span + span {
        display: flex;
        &::before {
          content: '：';
        }
      }
    }
  }
</style>
